  <div ng-controller="ForecastController" ng-init="init()" class='container'>
    
    <!-- header -->
    <div class='fcastHead'>
      <h1> {{city}}</h1>
      <p ng-click="backToLocations()">&lt&lt back to locations</p>
      <h2>It'll be nicest around...</h2>
    </div>
    
    <!-- best times  -->
    <div class="bestTimes">
      <div class="neverCell" ng-hide="hasBestTimes">Pretty Much Never.</div>
      <div ng-repeat="fcast in forecast | filter:{bestTime: 'true'}" class="bestTimesCell">
      <span>{{fcast.day}} at </span>{{fcast.time}}
      </div>
    </div>


    <!-- weather forecast  -->
    <div class="hourly">
      <h2>Hourly Forecast</h2>
      <div class="forecastRow">
          <div class="day hourlyEl hourlyHeader">Day</div>
          <div class="time hourlyEl hourlyHeader">Time</div>
          <div class="temp hourlyEl hourlyHeader">Temp</div>
          <div class="windSpeed hourlyEl hourlyHeader">Wind Speed</div>
          <div class="summary hourlyEl hourlyHeader">Conditions</div>
      </div>

      <div ng-repeat="fcast in forecast" class="forecastRow">
          <div class="day hourlyEl">{{fcast.day}}</div>
          <div class="time hourlyEl">{{fcast.time}}</div>
          <div class="temp hourlyEl">{{fcast.temp}}</div>
          <div class="windSpeed hourlyEl">{{fcast.windSpeed}}</div>
          <div class="summary hourlyEl">{{fcast.summary}}</div>
      </div>
    </div>

  </div>


<!--   <div ng-repeat="link in links track by $index" id='link'>
    <!-- <img src='/redirect_icon.png'/> -->
<!--     <div class='info'>
      <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
      <div class='title'>{{link.title}}</div>
      <div class='original'>{{link.url}}</div>
      <a ng-click="handleUrlClick($index)">{{link.base_url}}/{{link.code}}</a>
    </div>
  </div>  -->
